/* Variables --------------------------------------------------------- */

/* Fonts ------------------------------------------------------------- */

$font-primary: 'IBM Plex Sans', sans-serif;
$font-primary-cd: 'IBM Plex Sans Condensed', sans-serif;
$font-roboto: 'Roboto', sans-serif;

/* Fonts Styles ------------------------------------------------- */

.italic
{
  font-style: italic;
}

/* Colors ------------------------------------------------------------ */
$neo-ok: #01aaaf ;
$neo-blue: #0078ff;
$neo-green: #1eb980;
$neo-warning: #ff3b3b;
$neo-darkblue: #1665df;
$neo-dark: #333333;
$neo-white: #ffffff;
$neo-light-grey:#dddddd;
$neo-empty:#A5A6A7;
$neo-table-header:#FAFAFA;
$neo-table-row:#F0F0F0;
$neo-search-icon: #BFBFBF;
$neo-white-two: #fafafa;
$neo-border: #eeeeee;
$neo-border-dc: #dcdcdc;
$neo-title: #202124;
$neo-grey: #5f6368;