<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Franco David Gonzalez</h3>
        <p> Analista de sistemas | Front-end Angular</p>
      </div>

      <div class="text-center">
        <a href="https://www.linkedin.com/in/francogonzalez-web">Linkedin.com/in/francogonzalez-web</a>
      </div>
    </div>
  </div>
</div>